# Ignorar arquivos de configuração e temporários
.DS_Store
*.log
# Ignorar pastas de ambiente virtual (se aplicável)
venv/
.venv/
# Ignorar arquivos Parquet/CSV grandes
*.parquet
*.csv

# Ignorar a pasta de dados brutos
data/

# Ignorar arquivos temporários, de ambiente e de sistema
__pycache__/
*.pyc
.DS_Store